[project]
name = "alistyle-django-commerce"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django>=5.2.5",
    "pillow>=12.0.0",
    "python-decouple>=3.8",
]
