{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="utf-8" />
            <meta http-equiv="pragma" content="no-cache" />
            <meta http-equiv="cache-control" content="max-age=604800" />
            <meta name="viewport"
                  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <title>
                  {% block title %}
                  {% endblock title %}
            </title>
            <link href="{% static 'images/favicon.ico' %}"
                  rel="shortcut icon"
                  type="image/x-icon" />
            <!-- CSS Files -->
            <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
            <link href="{% static 'fonts/fontawesome/css/all.min.css' %}"
                  rel="stylesheet" />
            <link href="{% static 'css/ui.css' %}" rel="stylesheet" />
            <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
            <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
            <!-- jQuery -->
            <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
            <!-- Bootstrap -->
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <!-- Custom JS -->
            <script src="{% static 'js/script.js' %}"></script>
      </head>
      <body>
            {% include "includes/alerts.html" %}
            {% comment %}<!--  header -->{% endcomment %}
            {% include "includes/header.html" %}
            <main class="">
                  {% block content %}
                  {% endblock content %}
                  <!-- ========================= FOOTER ========================= -->
            </main>
            {% include "includes/footer.html" %}
      </body>
</html>
